<configuration debug="false">
    <variable name="MX_LOG_LEVEL" value="${MX_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta(%-15.-15thread) %cyan(%-40.-40logger{40}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${MX_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

